altgraph==0.17
arrow==0.17.0
cairocffi==1.2.0
certifi==2020.6.20
cffi==1.14.4
chardet==3.0.4
cssselect2==0.4.1
defusedxml==0.6.0
docutils==0.16
ffpyplayer==4.3.2
idna==2.10
Kivy==2.0.0rc2
Kivy-Garden==0.1.4
kivymd==0.104.1
macholib==1.14
Pillow==8.0.1
pycparser==2.20
Pygments==2.7.2
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
python-dateutil==2.8.1
requests==2.24.0
six==1.15.0
tinycss2==1.1.0
urllib3==1.25.11
webencodings==0.5.1
